@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'poppins' 
}

html{
  scroll-behavior: smooth;
  height:100%;
}
#root{
  min-height:100%;
}
@layer components {
    .btn-primary {
      @apply capitalize text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    }

}
.mantine-Select-defaultVariant, .mantine-DateRangePicker-defaultVariant{
  background: transparent ;
  color: black ;
  border-color: black ;
}
.mantine-Select-defaultVariant::placeholder, .mantine-DateRangePicker-defaultVariant::placeholder{
  color: black 
}
.mantine-Pagination-active{
  background-color: #BE185D
}
.item-group {
  --xyz-translate-x: 100vw;
}

.nav__link-active{
  position: relative;
}
.nav__link-active::after{
    content: "";
    position: absolute;
    left: 50%;
    transform:  translateX(-50%);
    bottom: -15px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }

